<div class="mt-5 ml-4">
    <div class="card-deck jumbotron">
        <div class="card1">
            <div class="card-header"></div>
          <div class="card-body">
              <img class="" src="/assets/images/road.webp" 
               height="200px" width="180px" alt="">
               <h3>JEANS</h3>
               <p>Men Blue Skinny Fit Jeans</p>
                <h6>Rs.899</h6>
           </div>
           <div class="card-footer text-center">
             <button class="btn-info " data-toggle="modal" data-target="#man">Details</button>
                 <div class="modal" id="man">
                  <div class="modal-dialog">
                      <div class="modal-content">
                           <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                           <div class="modal-body">
                            <h3>JEANS</h3>
                            <p>Men Blue Skinny Fit Jeans</p>
                            <p>PRODUCT DETAILS :
                                Blue medium wash 5-pocket mid-rise jeans, mildly distressed with light fade, has a button and zip closure, waistband with belt loops
                            </p>
                              <p>  Size & Fit :
                                Skinny Fit
                                Stretchable
                                The model (height 6') is wearing a size 32
                            </p>
                              <p>  Material & Care :
                                98.5% cotton, 1.5% elastane
                                Machine-wash</p>
                             <h6>Rs.899</h6>
                           </div>
                           <div class="modal-footer">
                            <button class="btn-info">WISHLIST</button>
                            <button class="btn-success ">ADD TO BAG</button>
                           </div>
                      </div>
                  </div>
                 </div>
           </div>
        </div>
        <div class="card2 ">
            <div class="card-header"></div>
            <div class="card-body ">
              <img class="" src="/assets/images/wrong.webp" 
               height="200px" width="180px" alt="">
               <h3>JACKET</h3>
               <p>Men Brown Solid Biker Jacket</p>
                <h6>Rs.2364</h6>
           </div>
            <div class="card-footer text-center">
                <button class="btn-info " data-toggle="modal" data-target="#man1">Details</button>
                    <div class="modal" id="man1">
                     <div class="modal-dialog">
                         <div class="modal-content">
                              <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                               <h3>JACKET</h3>
                               <p>Men Brown Solid Biker Jacket</p>
                               <p>PRODUCT DETAILS :
                                Brown solid biker jacket, has a mandarin collar, two pockets, 
                                zip closure, long sleeves, straight hem, polyester lining  </p>
                                 <p>  Size & Fit 
                                    The model (height 6') is wearing a size M
                               </p>
                                 <p>  Material & Care :
                                    Polyester
                                    Dry-clean</p>
                                <h6>Rs.2364</h6>
                              </div>
                              <div class="modal-footer">
                               <button class="btn-info ml-1">WISHLIST</button>
                               <button class="btn-success ml-3">ADD TO BAG</button>
                              </div>
                         </div>
                     </div>
                </div>
   
          </div>
        
        </div>
        <div class="card3">
            <div class="card-header"></div>

          <div class="card-body ">
              <img class="" src="/assets/images/tshirt.webp" 
               height="200px" width="180px" alt="">
               <h3>T-SHIRT </h3>
               <p>Men Printed Round Neck T-Shirt</p>
                <h6>Rs.559</h6>
           </div>
            <div class="card-footer text-center">
                <button class="btn-info " data-toggle="modal" data-target="#man2">Details</button>
                    <div class="modal" id="man2">
                     <div class="modal-dialog">
                         <div class="modal-content">
                              <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                               <h3>T-SHIRT</h3>
                               <p>Men Yellow Printed Round Neck T-Shirt</p>
                               <p>PRODUCT DETAILS :
                                Keep this hip this season with the HRX Men's Athleisure T-shirt.
                                 This versatile T-shirt can be styled any way you like for the ultimate gym-to-street look.
                               </p>
                                 <p>  Size & Fit :
                                    The model height 6' is wearing a size M
                               </p>
                                 <p>  Material & Care :
                                    100% cotton
                                   Machine-wash</p>
                                <h6>Rs.559</h6>
                              </div>
                              <div class="modal-footer">
                               <button class="btn-info ml-1">WISHLIST</button>
                               <button class="btn-success ml-3">ADD TO BAG</button>
                              </div>
                         </div>
                     </div>
                    </div>
   
          </div>
        
        </div>
        <div class="card4">
            <div class="card-header"></div>

          <div class="card-body ">
              <img class="" src="/assets/images/ferrari.webp" 
               height="200px" width="180px" alt="">
               <h3>WATCH</h3>
               <p> Men Blue Analogue Watch</p>
                <h6>Rs.18360</h6>
           </div>
            <div class="card-footer text-center">
                <button class="btn-info " data-toggle="modal" data-target="#man3">Details</button>
                    <div class="modal" id="man3">
                     <div class="modal-dialog">
                         <div class="modal-content">
                              <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                               <h3> WATCH</h3>
                               <p>Race Day Men Blue Analogue Watch 0830699</p>
                               <p>PRODUCT DETAILS :
                                Display: Analogue
Movement: Quartz
Power source: Battery
Dial style: Textured round stainless steel dial
Features: Chronograph, Reset Time, Multi Function
Strap style: Blue regular, silicon strap with a tang closure
Water resistance: 50 m
Warranty: 2 years
Warranty provided by brand/manufacturer
Comes in a signature SCUDERIA FERRARI case
                               </p>
                                 <p>  Size & Fit :
                                    Dial width: 40 mm
                                    Strap Width: 20 mm
                               </p>
                                 <p>  Material & Care :
                                    Gently wipe off your watch from time-to-time to remove dust, dirt, perspiration and moisture buildup.</p>
                                <h6>Rs.18360</h6>
                              </div>
                              <div class="modal-footer">
                               <button class="btn-info ml-1">WISHLIST</button>
                               <button class="btn-success ml-3">ADD TO BAG</button>
                              </div>
                         </div>
                     </div>
                    </div>
   
          </div>
    
        </div>
        <div class="card5">
            <div class="card-header"></div>

          <div class="card-body ">
              <img class="" src="/assets/images/ua.webp" 
               height="200px" width="180px" alt="">
               <h3>SHOES</h3>
               <p>Men Black Anatomix Spawn shoes</p>
                <h6>Rs.11999</h6>
           </div>
            <div class="card-footer text-center">
                <button class="btn-info " data-toggle="modal" data-target="#man4">Details</button>
                    <div class="modal" id="man4">
                     <div class="modal-dialog">
                         <div class="modal-content">
                              <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                               <h3>SHOES</h3>
                               <p>Men Black Anatomix Spawn shoes</p>
                               <p>PRODUCT DETAILS :
                                Lateral TPU plate provides added support & stability
                                Anatomical outsole pattern for superior traction & flexibility
                                Rounded outsole design promotes quick movements & change of direction                               </p>
                                 <p>  Product design details       :
                                    Main materials: Mesh upper / Rubber outsole
                                    Brand colour: Black
                                    Central lace ups
                                    Cushioned footbed 
                               </p>
                                 <p>  Material & Care :
                                    Mesh
                                    Wipe with a dry, clean cloth when needed</p>
                                <h6>Rs.11999</h6>
                              </div>
                              <div class="modal-footer">
                               <button class="btn-info ml-1">WISHLIST</button>
                               <button class="btn-success ml-3">ADD TO BAG</button>
                              </div>
                         </div>
                     </div>
                    </div>
   
          </div>
    
  </div>
  
  
</div>