<div class="mt-5">
<div class="card-deck jumbotron" >

    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/kidethnic.webp" 
           height="200px" width="180px" alt="">
           <h3>JBN Creation        </h3>
           <p>Boys Gold-Toned & Red Solid Kurta</p>
            <h6>Rs.1799</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#kid">Details</button>
             <div class="modal" id="kid">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>JBN Creation                        </h3>
                        <p> Boys Gold-Toned & Red Solid Kurta with Churidar & Nehru Jacket</p>
                        <p>PRODUCT DETAILS :
                            Gold-Toned solid kurta with churidar
Gold-Toned straight knee length kurta, has a mandarin collar, long sleeves, straight hem, side slits
Gold-Toned SoGold-coloured solid kurta with churidar
                        </p>
                          <p>  Size & Fit :
                            choose according to the age group
                        </p>
                          <p>  Material & Care :
                            Top fabric: Dupion Silk
                            Bottom fabric: Dupion Silk
                            Jacket fabric: Cotton blend
                            Dry-clean
                           </p>
                         <h6>Rs.1799</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>


    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/kidswt.webp" 
           height="200px" width="180px" alt="">
           <h3>YK Marvel</h3>
           <p>Boys White Captain America Shield Hooded Padded Jacket</p>
            <h6>Rs.1859</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#kid1">Details</button>
             <div class="modal" id="kid1">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>YK Marvel</h3>
                        <p>Boys White Captain America Shield Print Hooded Padded Jacket</p>
                        <p>PRODUCT DETAILS :
                            White captain america shield print jacket, has a hood, 2 pockets, zip closure, long sleeves, straight hem, and polyester lining


                        </p>
                          <p>  Size & Fit :
                            Choose according to the age group
                        </p>
                          <p>  Material & Care :
                            Material: Polyester
                            Lining: Polyester 
                            Machine Wash
                           </p>
                         <h6>Rs.1859</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>


    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/spdy.webp" 
           height="200px" width="180px" alt="">
           <h3>Priority</h3>
           <p>Boys Black & Red Spiderman Backpack        </p>
            <h6>Rs.476</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#man">Details</button>
             <div class="modal" id="man">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>Priority</h3>
                        <p>Boys Black & Red Spiderman Backpack
                        </p>
                        <p>PRODUCT DETAILS :
                            Black and red Spiderman backpack
Padded haul loop
2 main compartments with zip closure
Padded back
Multiple Pockets
Padded shoulder strap: Padded
Water-resistance: Yes
                        </p>
                          <p>  Size & Fit :
                            Height: 45.72 cm
Width: 33 cm
Depth: 25.4 cm
Volume: 32 litres
                        </p>
                          <p>  Material & Care :
                            Polyester
                            Wipe with a clean, dry cloth to remove dust
                           </p>
                         <h6>Rs.476</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>











</div>
</div>