<!--navbar-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

     <div><a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" height="40px" width="40px" alt=""></a></div>
    

<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>



 <!-- Navbar links -->

   <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav  ml-auto">
      <a class="navbar-brand nav-link "routerLink="home" style="font-style: initial;font-size:small;">HOME</a>
      <a class="navbar-brand nav-link " routerLink="men"  style="font-style: initial;font-size:small;" >MENS</a>
      <a class="navbar-brand nav-link"  routerLink="women" style="font-style: initial;font-size:small;">WOMEN</a>
    <a class="navbar-brand nav-link " routerLink="kids" style="font-style: initial;font-size:small;">KIDS</a>

      <li class="nav-item mr-3" data-target="#collapsibleNavbar" data-toggle="collapse"><a class="nav-link"
          routerLink=""><i class="fa fa-search"></i>search</a></li>
      <li class="nav-item mr-3" data-target="#collapsibleNavbar" data-toggle="collapse"> <a class="nav-link"
          routerLink="aboutus"><i class="fa fa-bookmark-o"></i></a>
      </li>
      <li class="nav-item mr-3" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" routerLink="contactus"><i class="fa fa-shopping-bag"></i></a>
      </li>
      <li class="nav-item mr-5" data-target="#collapsibleNavbar" data-toggle="collapse"> <a
          class="nav-link" routerLink=""><i class="fa fa-fw fa-user"></i></a> </li>
      <!-- <li class="nav-item"  data-target="#collapsibleNavbar" data-toggle="collapse"> <a
          class="nav-link text-danger" routerLink="login"><i class="fa fa-sign-out"></i>Logout</a> </li> -->
    </ul>
  </div>

 </nav>
 <div>
  <router-outlet></router-outlet>
  </div>


 