<div class="mt-2">
   
<!--COURASAL-->


 <div id="demo" class="carousel slide jumbotron" data-ride="carousel">

  <div class="container mt-5">

    <div id="carouselExampleFade" class="carousel slide carousel" data-interval='5000' data-ride="carousel">
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active  hd1">
      <img src="/assets/images/pic 1.jpg"  alt="Los Angeles">
    </div>
    <div class="carousel-item ">
      <img src="/assets/images/pic23.jpg" height="500px" width="1500px" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic 3.jpg" height="500px" width="1500px" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>

<div class="container">
 <h2> <a><i class="fa fa-angle-double-down"></i>CATEGORIES</a> </h2>
</div>

<div class="card-deck container ml-5 mt-4">
      <div class="card1">
        <div class="card-body">
            <img class="rounded-circle" src="/assets/images/handbag.jpg" 
             height="200px" width="180px" alt=""><h4 class="text-center">Handbag</h4>
         </div>
      </div>
      <div class="card2 ml-1">
        <div class="card-body ">
            <img class="rounded-circle" src="/assets/images/scandals.jpg" 
             height="200px" width="180px" alt=""><h4 class="text-center">Scandals</h4>
         </div>
      </div>
      <div class="card3 ml-1">
        <div class="card-body ">
            <img class="rounded-circle" src="/assets/images/earings.jpg" 
             height="200px" width="180px" alt=""><h4 class="text-center">Earings</h4>
         </div>
      </div>
      <div class="card4">
        <div class="card-body ">
            <img class="rounded-circle" src="/assets/images/watches.jpeg" 
             height="200px" width="180px" alt=""><h4 class="text-center">watches</h4>
         </div>
      </div>
      <div class="card5">
        <div class="card-body ">
            <img class="rounded-circle" src="/assets/images/tops.jpg" 
             height="200px" width="180px" alt=""><h4 class="text-center">Tops & Tees</h4>
         </div>
      </div>
</div>



<div class="container mt-5 ">
  <h4>EXPLORE TOP NEW ARRIVALS</h4>
</div>

<div class="card-deck ml-5 mt-5">
  <div class="card1 jumbotron">
          <img src="/assets/images/img1.webp" height="250px" width="250px" alt="">
          <h3 class="mt-2">Causal Shirt</h3>
        <div class="mt-5"><img src="/assets/images/anarkali.jpg" height="250px" width="250px" alt="">
        <h3>Anarkali</h3></div>
  </div>
  <div class="card2 ml-3 jumbotron">
    <img src="/assets/images/road.webp" height="250px" width="250px" alt=""><h3 class="mt-2" >Jeans</h3>
  <div class="mt-5"><img src="/assets/images/sarees.jpg" height="250px" width="250px" alt=""> <h3>Saree</h3></div>
</div>
<div class="card3 ml-3 jumbotron">
  <img src="/assets/images/sherwani.jpg" height="250px" width="250px" alt=""> <h3 class="mt-2">Sherwanis</h3>
<div class="mt-5"><img src="/assets/images/lehanga.jpg" height="250px" width="250px" alt=""><h3>Lehenga</h3></div>
</div>
<div class="card4 ml-3 jumbotron">
  <img src="/assets/images/waist.jpg" height="250px" width="250px" alt=""><h3 class="mt-2">WaistCoats</h3>
<div class="mt-5"><img src="/assets/images/Skirt.jpg" height="250px" width="250px" alt=""><h3>Skirts</h3></div>
</div>
<!-- <div class="card5 ml-2">
  <img src="/assets/images/w.webp" height="250px" width="250px" alt="">
<div><img src="/assets/images/nike.webp" height="250px" width="250px" alt=""></div>
</div> -->

</div>

<footer class="page-footer font-small ">
  <div class="jumbotron shadow" tyle="background: rgb(121,220,234);
  background: linear-gradient(356deg, rgba(121,220,234,1) 0%, rgba(124,190,230,1) 100%);">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h5 class="text-dark p-2">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#"><span class=""></span>Contact Us</a></li>
          <li><a href="#"><span class=""></span>FAQ</a></li>
          <li><a href="#"><span class=""></span>T&C</a></li>
          <li><a href="#"><span class=""></span>Track Order</a></li>
          <li><a href="#"><span class=""></span>Cancellation</a></li>
          <li><a href="#"><span class=""></span>Returns</a></li>


        </ul>
      </div>

      <div class="col-sm-4 text-center">
        <h5 class="text-dark p-2">Online Shopping</h5>
        <ul class="list-unstyled mb-2">
          <li><a href="#"><span class=""></span>Men</a></li>
          <li><a href="#"><span class=""></span>Women</a></li>
          <li><a href="#"><span class=""></span>Kids</a></li>
          <li><a href="#"><span class=""></span>privacy policy</a></li>
          <li><a href="#"><span class=""></span>Gift Cards</a></li>
        </ul>
        <div class="text-center mt-5">
          <a href="https://www.facebook.com/login.php" class="m-2"><i class="fa fa-facebook fa-2x"
              aria-hidden="true"></i></a>
          <a href="https://github.com/" class="m-2"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/login/" class="m-2"><i class="fa fa-twitter fa-2x"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/" class="m-2"><i class="fa fa-linkedin fa-2x"
              aria-hidden="true"></i></a>
          <a href="https://dribbble.com/" class="m-2"><i class="fa fa-dribbble fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <h5 class="text-dark p-2">Have A Question?</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-map-marker p-2" aria-hidden="true"></i> Banjara Hills, Road No:10, Hyderabad,Telangana,India.</li>
          <li> <i class="fa fa-phone p-2" aria-hidden="true"></i><a href="#"> +91 9853246790</a></li>
          <li> <i class="fa fa-envelope-o p-2" aria-hidden="true"></i><a href="#"> info@ims.ac.in.com</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<footer>
  <div class="footer-copyright text-center py-3 uk-overlay-active">© 2020 Copyright:
    <a href="#"> IMS.com</a>
  </div>
</footer>


 






</div>