<div class="mt-5">
   <div class="card-deck jumbotron">
    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/saree.webp" 
           height="200px" width="180px" alt="">
           <h3>Inddus</h3>
           <p>Red & Gold-Toned Net Embroidered Saree
        </p>
            <h6>Rs.1997</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#men">Details</button>
             <div class="modal" id="men">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>Inddus</h3>
                        <p>Red & Gold-Toned Net Embroidered Saree
                        </p>
                        <p>PRODUCT DETAILS :
                            Red and Gold-toned embroidered saree and has an embroidered border
The model is wearing a stitched version of the blouse piece. The saree comes with an unstitched blouse piece
                        </p>
                          <p>  Size & Fit :
                            Length: 5.5 metres plus 0.8 metre blouse piece
Width: 1.06 metres (approx)
                        </p>
                          <p>  Material & Care :
                            Saree fabric: net
                            Blouse fabric: net
                            Dry-clean
                            </p>
                         <h6>Rs.1997</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>

    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/womenjeans.webp" 
           height="200px" width="180px" alt="">
           <h3>High Star</h3>
           <p>Women Black Slim Fit High-Rise jeans</p>
            <h6>Rs.804</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#man">Details</button>
             <div class="modal" id="man">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>High Star</h3>
                        <p>Women Black Slim Fit High-Rise Clean Look Stretchable Jeans</p>
                        <p>PRODUCT DETAILS :
                            Black dark wash 5-pocket high-rise jeans, clean look with no fade,
                             has a button and zip closure, waistband with belt loops
                        </p>
                          <p>  Size & Fit :
                            Slim fit Stretchable
The model (height 5'8") is wearing a size 28
                        </p>
                          <p>  Material & Care :
                            Cotton, polyester and elastane
                            Machine-wash
                            </p>
                         <h6>Rs.804</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>

    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/shrug.webp" 
           height="200px" width="180px" alt="">
           <h3>DressBerry</h3>
           <p>Women Black Solid Open Front Shrug
        </p>
            <h6>Rs.999</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#men2">Details</button>
             <div class="modal" id="men2">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>DressBerry</h3>
                        <p>Women Black Solid Open Front Shrug
                        </p>
                        <p>PRODUCT DETAILS :
                            Black solid open front regular shrug, has long sleeves, straight hem
                        </p>
                          <p>  Size & Fit :
                            The model (height 5'8'') is wearing a size S </p>
                          <p>  Material & Care :
                            Material: 65% polyester 35% viscose
                            Machine Wash
                            </p>
                         <h6>Rs.999</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>

    <div class="card1">
        <div class="card-header"></div>
      <div class="card-body">
          <img class="" src="/assets/images/ethnic2.webp" 
           height="200px" width="180px" alt="">
           <h3>Jaipur Kurti</h3>
           <p>Women Navy Blue & Off-White Striped
        </p>
            <h6>Rs.774</h6>
       </div>
       <div class="card-footer text-center">
         <button class="btn-info " data-toggle="modal" data-target="#men3">Details</button>
             <div class="modal" id="men3">
              <div class="modal-dialog">
                  <div class="modal-content">
                       <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                       <div class="modal-body">
                        <h3>Jaipur Kurti</h3>
                        <p>Women Navy Blue & Off-White Striped A-Line Dress
                        </p>
                        <p>PRODUCT DETAILS :
                            Navy Blue and off-white striped woven A-line dress, has a round neck,
                             three-quarter sleeves, concealed zip closure, asymmetric hem
                        </p>
                          <p>  Size & Fit :
                            The model (height 5'8") is wearing a size S
                        </p>
                          <p>  Material & Care :
                            Cotton
                            Hand-wash
                            </p>
                         <h6>Rs.774</h6>
                       </div>
                       <div class="modal-footer">
                        <button class="btn-info">WISHLIST</button>
                        <button class="btn-success ">ADD TO BAG</button>
                       </div>
                  </div>
              </div>
             </div>
       </div>
    </div>

















   </div>  
</div>